.TodoApp {
    background-color: rgb(182, 232, 205);
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .TodoItem {
    display: flex;
  }
  
  .TodoItem__remove {
    cursor: pointer;
    margin-left: 5px;
    border: 1px gray solid;
    border-radius: 3px;
    padding: 0 3px;
  }
  
  .TodoInput {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 5px;
    outline: none;
  }

    button {
      font-family: 'Courier New', Courier, monospace;
    }

  .TodoList {
    margin-top: 20px;
    user-select: none;
  }